---
import '../styles/global.css';

const pageTitle = "Sobre mí";
const identity = {
	firstName: "Javi",
	country: "España",
	occupation: "Desarrollador",
	hobbies: ["juegos", "programar", "series"],
};
const skills = ["HTML", "CSS", "JavaScript", "Python", "Astro"];
const happy = true;
const finished = false;
const goal = 3;

const skillcolor = "navy";
const fontWeight = "bold";
const textCase = "uppercase"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style define:vars= {{skillcolor, fontWeight, textCase}}>
			h1 {
				color: purple;
				font-size: 4rem;
			}
			.skill {
				color: var(--skillcolor);
				font-weight: var(--fontWeight);
				text-transform: var(--textCase);
			}
		</style>
	</head>
	<body>
        <a href = "/">Inicio</a>
		<a href = "/about/">Sobre mí</a>
        <a href = "/blog/">Blog</a>
		<h1>{pageTitle}</h1>
        <h2>Este será mi nuevo sitio web con Astro!!!!</h2>
        <p>Estoy trabajando en un tutorial y esto son pruebas</p>
        <p>Este sitio se irá actualizando a medida que vaya completando más partes</p>
		<p>Algunos datos sobre mí:</p>
		<ul>
			<li>Me llamo {identity.firstName}.</li>
			<li>Soy de {identity.country}.</li>
			<li>Trabajo como {identity.occupation}</li>
			{identity.hobbies.length >= 2 && <li>Dos de mis aficiones son {identity.hobbies[0]} y {identity.hobbies[1]}</li>}
		</ul>
		<p>Mis habilidades son:</p>
		<ul>
			{skills.map((skills) => <li class ="skill">{skills}</li>)}
		</ul>
		{happy && <p>¡Estoy contento de aprender Astro!</p>}
		{finished && <p>¡He terminado este tutorial!</p>}
		{goal === 3 ? <p>Mi objetivo es terminar en 3 días</p> : <p>Mi objetivo no son 3 días</p>}
	</body>
</html>